.stock {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 10px;
  background-image: linear-gradient(#fbc88a, #f4596b);
  padding: 5px;
  color: white;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.stock h6 {
  font-size: 22px;
  margin: 0;
  margin-top: 15px;
}

.stock p {
  color: white;
}
