.button {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 40px;
  width: 200px;
  height: 40px;
  background-color: #754dff;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
}

button:focus {
  outline: 0;
}
